.col-md-12
  .panel.panel-default
    .panel-heading
      %h3 Basic Elements
    .panel-body
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-horizontal group-border-dashed', style: 'border-radius: 0px;' }) do |f|
        = devise_error_messages!
        .form-group
          %label.col-sm-3.control-label username
          .col-sm-6
            = f.text_field :name, class: 'form-control'
        .form-group
          %label.col-sm-3.control-label image
          .col-sm-6
            = f.file_field :image, class: 'form-contol'
        .form-group
          .col-sm-2
            = f.submit 'done'
        -# .form-group
        -#   %label.col-sm-3.control-label Placeholder Input
        -#   .col-sm-6
        -#     %input.form-control{:placeholder => "Placeholder text", :type => "text"}/
        -# .form-group
        -#   %label.col-sm-3.control-label Disabled Input
        -#   .col-sm-6
        -#     %input.form-control{:disabled => "disabled", :placeholder => "Disabled input text", :type => "text"}/
        -# .form-group
        -#   %label.col-sm-3.control-label Readonly Input
        -#   .col-sm-6
        -#     %input.form-control{:readonly => "readonly", :type => "text", :value => "Readonly input text"}/
        -# .form-group
        -#   %label.col-sm-3.control-label Textarea
        -#   .col-sm-6
        -#     %textarea.form-control
